<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coder.campus.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.coder.campus.pojo.Goods">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="FLOAT"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createtime" column="createtime" jdbcType="DATE"/>
    </resultMap>



    <sql id="Base_Column_List">
        id,name,gender,
        password,email,telephone,
        address,portrait_path
    </sql>
<!--    批量插入-->
    <insert id="addBatch" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO  tb_goods(id,name,price,description,img,createtime) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.name},#{item.price},#{item.description},#{item.img},#{item.createtime})
        </foreach>
    </insert>
<!--    批量添加-->
    <update id="batchModifyGoods">
        <foreach collection="list" item="item" separator=";">
        update tb_goods
        set name = #{name},
        price = #{item.price},
        description = #{item.description},
        img = #{item.img},
        createtime = #{item.createtime}
        where id = #{item.id}};
        </foreach>
    </update>
<!--    批量删除-->
    <delete id="batchDeleteGoods" parameterType="integer">
        <foreach collection="array" item="item" separator=";">
            DELETE FROM tb_goods
            where id = ${item}
        </foreach>
    </delete>
<!--    批量查询-->
    <select id="queryByIds" resultType="com.coder.campus.pojo.Goods">
        Select id,name,price,description,img,createtime FROM tb_goods
        where id in
        <foreach collection="array" close=")" index="" item="item" open="(" separator=",">
            ${item}
        </foreach>
    </select>

    <select id="queryById" resultType="com.coder.campus.pojo.Goods" parameterType="com.coder.campus.pojo.Goods">
        Select id,name,price,description,img,createtime FROM tb_goods
        <where>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="name!=null">
                and name = #{name}
            </if>
            <if test="price!=null">
                and price = #{price}
            </if>
            <if test="description!=null">
                and description = #{description}
            </if>
            <if test="img!=null">
                and img = #{img}
            </if>
            <if test="createtime!=null">
                and createtime = #{createtime}
            </if>
        </where>
    </select>
    <select id="queryGoodsByPage" resultType="com.coder.campus.pojo.Goods">
        SELECT id,name,price,description,img,createtime FROM tb_goods
        limit #{pageNum}, #{pageSize}
    </select>
    <select id="queryByPage" resultType="com.coder.campus.pojo.Goods"></select>
    <!--    <select id="queryAll" resultType="com.coder.campus.pojo.Goods">-->
<!--        Select id,name,price,description,img,createtime FROM tb_goods-->
<!--        where 1=1-->
<!--        <if test="id!=null">-->
<!--            and id = #{id}-->
<!--        </if>-->
<!--            <if test="name!=null">-->
<!--                and name = #{name}-->
<!--            </if>-->
<!--        <if test="price!=null">-->
<!--            and price = #{price}-->
<!--        </if>-->
<!--        <if test="description!=null">-->
<!--            and description = #{description}-->
<!--        </if>-->
<!--        <if test="img!=null">-->
<!--            and img = #{img}-->
<!--        </if>-->
<!--        <if test="createtime!=null">-->
<!--            and createtime = #{createtime}-->
<!--        </if>-->
<!--    </select>-->


    <!--    trim标签-->
    <!--        <select id="queryAll" resultType="com.coder.campus.pojo.Goods">-->
    <!--            Select id,name,price,description,img,createtime FROM tb_goods-->
    <!--                <trim prefix="where" prefixOverrides="and">-->
    <!--                                <if test="id!=null">-->
    <!--                                    and id = #{id}-->
    <!--                                </if>-->
    <!--                                <if test="name!=null">-->
    <!--                                    and name = #{name}-->
    <!--                                </if>-->
    <!--                                <if test="price!=null">-->
    <!--                                    and price = #{price}-->
    <!--                                </if>-->
    <!--                                <if test="description!=null">-->
    <!--                                    and description = #{description}-->
    <!--                                </if>-->
    <!--                                <if test="img!=null">-->
    <!--                                    and img = #{img}-->
    <!--                                </if>-->
    <!--                                <if test="createtime!=null">-->
    <!--                                    and createtime = #{createtime}-->
    <!--                                </if>-->
    <!--                </trim>-->
    <!--        </select>-->

<!--foreach标签拼接-->



</mapper>



